<?xml version="1.0" encoding="utf-8"?>


<packages>
  <connectionStrings>
    <clear />
    <add name="SQL"
     providerName="S.NET Framework Data Provider for SQL Server"
     connectionString="Data Source=MDDSK40034-2\PVV;Initial Catalog=mydb;User ID=sa;Password=5p93Yan2" />
  </connectionStrings>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />

</packages>
